.top-panel {
    border-bottom-style: solid;
    padding: 5 px;
    line-height: 40px;  
}

.sticker-form {
    display: flex;
    flex-wrap: wrap;
}

.sticker-sheet {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #FFFFBF;
}

.sticker-sheet * {
    background-color: #FFFFBF;
}

.sticker-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drag-holder {
    margin: 15px;
}

.sticker-button {
    margin: 15px;
}

.text-field {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    resize: none;
    margin: 15px;
}
